:root {
  --color-principal: #1c1c1c;
  --color_secundario: #d9d9d9;
  --color-terciario: #8b0000;
}
.birthstone-regular {
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero {
  background-image: url("../img/hero.webp");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  position: relative;
  h1 {
    font-family: Birthstone;
    font-size: 10rem;
  }
}
.formulario {
  /* background-color: #d9d9d985;
    backdrop-filter: blur(1rem); */
  grid-column: 2;
  display: flex;
  flex-direction: column;
  /* height: auto; */
  padding: 1rem;
  border-radius: 1rem;
  min-width: 10rem;
}
.hero-gradient {
  background: linear-gradient(
    0deg,
    var(--color-principal) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.blur {
  background-color: #d9d9d998 !important;
  backdrop-filter: blur(1rem) !important;
}
section {
  background-color: var(--color-principal);
}
h1,
h2 {
  color: var(--color_secundario);
}
.card {
  img {
    height: 16rem;
    object-fit: cover;
  }
}
.card-barbero {
  grid-column: span 6;
  img {
    height: 100%;
  }
}

.star-rating {
  direction: rtl;
  font-size: 2rem;
  unicode-bidi: bidi-override;
  display: inline-flex;
}

.star-rating input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}


.star-rating label {
  cursor: pointer;
  color: #ccc;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.container-barberos{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}




/* Login */

#loginDiv{
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../img/hero.webp");
    min-height: 100vh;
 background-size: cover;
}

#loginForm{
  width: 400px;
  height: 300px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
}

#reservas-section{
  display: none;
  flex-direction: column;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}

#contenedorAdmin{
  display: none;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-image: url("../img/hero.webp");
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#btnLogout{
  display: none;
}
.container-contacto{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 1rem;
  div{
    grid-column: 6/12;
  }
}

